@import "../node_modules/chartist/dist/chartist.css";

.article__headline {
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: #444;
  }

  h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
  }
  
  img {
    display: none;
  }
}

@media (min-width: 768px) {
  .article {
    section {
      display: none;
      hr:first-child {
        display: none;
      }
    }
  }
}