@media (min-width: 768px) {
  .article {
    .article__sections {
      max-width: 1140px;
    }
    section {
      display: none;
      hr:first-child {
        display: none;
      }
      &#article-summary {
        hr:first-child {
          display: block;
        }
      }
    }
  }
}