.home__jumbotron {
  margin-top: 55px;
  margin-bottom: 5em;
  padding-top: 5em;
  position: relative;
  .home__jumbotron-background-image {
    height: 100vh;
    width: 100%;
    background-image: url(/static/undraw_site_content_ihgn.svg);
    background-repeat: no-repeat;
    background-position: center -200px;
    position: absolute;
    opacity: 0.4;
  }
  .home__jumbotron-background {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    height: 22em;
    width: 100%;
    overflow: hidden;
  }
  form {
    margin: 1em 0;
    padding: 1em;
  }
  @media (min-width: 768px) {
    margin-bottom: 6em;
    padding-top: 6em;
    .home__jumbotron-background {
      height: 26em;
    }
    .home__jumbotron-background-image {
      background-position: center -150px;
    }
    form {
      padding: 2em;
    }
  }
}