/*@import "../node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.css";*/
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "article";
@import "indicator";
@import "topics";
@import "sidebar";
@import "structured-data";

:root {
  --danger-color: rgb(226,43,40);
  --warning-color: rgb(249,175,12);
  --success-color: rgb(40,167,69);
  --info-color: rgb(98, 153, 255);
  --primary-color: rgb(10,97,254);
}

.text-danger {
  color: var(--danger-color) !important;
}

.text-warning {
  color: var(--warning-color) !important;
}

.text-success {
  color: var(--success-color) !important;
}

.text-info {
  color: var(--info-color) !important;
}

.badge-danger {
  background-color: var(--danger-color);
  color: #fff;
}

.badge-warning {
  background-color: var(--warning-color);
  color: #fff;
}

.badge-success {
  background-color: var(--success-color);
  color: #fff;
}

.badge-info {
  background-color: var(--info-color);
  color: #fff;
}

main {
  margin-top: 57px;
  padding-top: .5em;
}

footer {
  padding-top: 1em;
  font-size: .8em;
  select {
    display: inline;
    width: auto;
  }
}

.loader {
  margin: 3em 0 2em 0;
  padding: 2em 0;
  text-align: center;
}

ul {
  list-style-type: square;
}

table {
  font-size: 0.9em;
}

.lead {
  font-size: 1.25em;
  color: #666;
}

h1 {
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.5em;
  text-transform: capitalize;
}

h2 {
  font-size: 1.75em;
  font-weight: 300;
  line-height: 1.75em;
  text-transform: capitalize;
  border-bottom: 4px solid #eee;
  margin-bottom: .5em;
}

h3 {
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.5em;
  text-transform: capitalize;
}

h4 {
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.25em;
}

h5 {
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.25em;
}

h6 {
  font-weight: 700;
  font-size: 1em;
  line-height: 1em;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 2.25em;;
  }
  h4 {
    font-size: 1.75em;
  }
  h5 {
    font-size: 1.5em;
  }
  h6 {
    font-size: 1.25em;
  }
}
