/*@import "../node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.css";*/
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "article";
@import "indicator";
@import "sidebar";
@import "structured-data";

:root {
  --danger-color: rgba(226,43,40);
  --warning-color: rgba(249,175,12);
  --success-color: rgba(45,155,65);
}

.badge-danger {
  background-color: var(--danger-color);
  color: #fff;
}

.badge-warning {
  background-color: var(--warning-color);
  color: #fff;
}

.badge-success {
  background-color: var(--success-color);
  color: #fff;
}

main {
  margin-top: 57px;
  padding-top: .5em;
}

footer {
  padding-top: 1em;
  font-size: .8em;
  select {
    display: inline;
    width: auto;
  }
}

.loader {
  margin: 3em 0 2em 0;
  padding: 2em 0;
  text-align: center;
}

ul {
  list-style-type: square;
}

table {
  font-size: 0.9em;
}