@import "marx.min.css";
@import "animations";
@import "spinner";

progress {
  border-radius: 10px; 
  width: 100%;
  height: 10px;
  background-color: #ccc;
}
progress::-webkit-progress-bar {
  background-color: #ccc;
  border-radius: 10px;
}
progress::-webkit-progress-value {
  border-radius: 10px;
  background-color: rgb(48,124,246);
}
progress::-moz-progress-bar {
  border-radius: 10px;
  background-color: rgb(48,124,246);
}

ol, ul {
  padding-left: 20px;
}

ul {
  list-style-type: square;
}

th, td {
  padding: 5px;
}

.footer {
  color: rgba(0,0,0,.54);
  small, a {
    color: rgba(0,0,0,.54);
  }
  a {
    text-decoration: underline;
  }
}