.locales {
  position: absolute;
  top: -10px;
  right: 0;
  text-align: right;
  color: #888;
  border: 1px solid #ccc;
  background: #eee;
  text-transform: uppercase;
  border-radius: 2px;
  line-height: 1em;
  span {
    padding: 0 .4em;
    font-size: .8em;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: #444;
  }

  .locale {
    display: none;
    padding: .2em .4em;
    line-height: 1.2em;
    text-transform: none;
    &:hover,
    &:focus {
      background: #eee;
    }
  }

  &:hover,
  &:focus {
    background: #fff;
    .locale {
      display: block;
    }
  }

  .locale--active {
    font-weight: bold;
  }
}
