progress {
  border-radius: 10px; 
  width: 100%;
  height: 10px;
  background-color: #ccc;
}
progress::-webkit-progress-bar {
  background-color: #ccc;
  border-radius: 10px;
}
progress::-webkit-progress-value {
  border-radius: 10px;
  background-color: rgb(48,124,246);
}
progress::-moz-progress-bar {
  border-radius: 10px;
  background-color: rgb(48,124,246);
}