.sentiment__positive,
.sentiment__negative { }

.sentiment__positive--highlighted,
.sentiment__negative--highlighted {
  span {
    padding: .2em .4em;
    border-radius: 5px;
    font-weight: 600;
    color: white;
  }
}

.sentiment__positive--highlighted {
  span {
    background-color: #87ba72;
  }
}

.sentiment__negative--highlighted {
  span {
    background-color: #ff5e5e;
  }
}