.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  padding: 50px 0 0 0;
  .nav-item:hover {
    background-color: rgba(0,0,0,0.1);
  }
}

.sidebar__heading {
  font-size: 0.9em;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  padding-top: 7px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
