:root {
  --fail-color: #f03030;
  --info-color: #666;
  --warning-color: orange;
  --pass-color: #3ccf32;
}

.structured-data__test--pass {
  color: var(--pass-color);
  .structured-data__test-icon {
    color: var(--pass-color);
  }
}

.structured-data__test--info {
  color: var(--info-color);
  .structured-data__test-icon {
    color: var(--info-color);
  }
}

.structured-data__test--warn {
  color: var(--warning-color);
  .structured-data__test-icon {
   color: var(--warning-color);
  }
}

.structured-data__test--fail {
  color: var(--fail-color);
  .structured-data__test-icon {
    color: var(--fail-color);
  }
}