:root {
  --fail-color: var(--danger-color);
  --info-color: #666;
  --warning-color: var(--warning-color);
  --pass-color: var(--success-color);
}

.structured-data__test--pass {
  color: var(--pass-color);
  .structured-data__test-icon {
    color: var(--pass-color);
  }
}

.structured-data__test--info {
  color: var(--info-color);
  .structured-data__test-icon {
    color: var(--info-color);
  }
}

.structured-data__test--warn {
  color: var(--warning-color);
  .structured-data__test-icon {
   color: var(--warning-color);
  }
}

.structured-data__test--fail {
  color: var(--fail-color);
  .structured-data__test-icon {
    color: var(--fail-color);
  }
}